Repository vechain/thor-devkit.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
    -   id: check-merge-conflict
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --config=mypy.ini --cache-dir=/dev/null --no-incremental
        language: system
        types: [ python ]
        exclude: "tests/"
      - id: pytest
        name: pytest
        entry: pytest --cov=thor_devkit --no-cov-on-fail --cov-report=term-missing -vv -s
        language: system
        types: [ python ]
        pass_filenames: false
        exclude: "setup.py"

Update requirements, separate dev_requirements
  Makefile
  dev_requirements.txt
  requirements.txt
Due: none

Lint
  .flake8
  .pre-commit-config.yaml
  dev_requirements.txt
  mypy.ini
Due: none

Better lint
  .darglint
  .flake8
  .pre-commit-config.yaml
  dev_requirements.txt
  requirements.txt
  setup.py
  tests/test_abi_events.py
  tests/test_abi_functions.py
  tests/test_bloom.py
  tests/test_certificate.py
  tests/test_rlp.py
  tests/test_transaction.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/cry/address.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Make library pass type checking
  .coveragerc
  .darglint
  Makefile
  mypy.ini
  py.typed
  tests/test_abi_events.py
  tests/test_rlp.py
  tests/test_transaction.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/utils.py
  thor_devkit/deprecation.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Switch to modern PEP518 (PEP621) pyproject.toml to keep all configs and setup data.
  .coveragerc
  .darglint
  .flake8
  .pre-commit-config.yaml
  Makefile
  dev_requirements.txt
  mypy.ini
  pyproject.toml
  requirements.txt
  setup.py
Due: mypy

Better exceptions, use fixtures in tests
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_abi_coder.py
  tests/test_abi_events.py
  tests/test_abi_functions.py
  tests/test_bloom.py
  tests/test_certificate.py
  tests/test_cry.py
  tests/test_rlp.py
  tests/test_transaction.py
  thor_devkit/__init__.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/address.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/keccak.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/deprecation.py
  thor_devkit/exceptions.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
  thor_devkit/utils.py
Due: mypy, pytest

Better typing
  thor_devkit/cry/address.py
  thor_devkit/cry/blake2b.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Fix and lint existing docstrings
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
  tests/test_abi_functions.py
  tests/test_cry.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/address.py
  thor_devkit/cry/blake2b.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/keccak.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/deprecation.py
  thor_devkit/exceptions.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
  thor_devkit/utils.py
Due: mypy, pytest

Move utils back to cry for backwards-compat. Use absolute import
  tests/test_cry.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/address.py
  thor_devkit/cry/blake2b.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/keccak.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Remove darglint artifact
  pyproject.toml
Due: none

Better docs.
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_certificate.py
  tests/test_cry.py
  tests/test_transaction.py
  thor_devkit/abi.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Fix tests to use fixtures
  tests/test_cry.py
Due: pytest

Fix deprecation message
  thor_devkit/deprecation.py
  thor_devkit/rlp.py
Due: mypy, pytest

Cleaner recursive type
  thor_devkit/abi.py
Due: mypy, pytest

Start documentation building
  .pre-commit-config.yaml
  docs/Makefile
  docs/make.bat
  docs/source/abi.rst
  docs/source/conf.py
  docs/source/ext/__init__.py
  docs/source/ext/toc_plugin.py
  docs/source/ext/types_group.py
  docs/source/index.rst
  docs/source/others.rst
  docs/source/references.rst
  docs/source/rlp.rst
  docs/source/transaction.rst
  pyproject.toml
  thor_devkit/__init__.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/__init__.py
  thor_devkit/cry/address.py
  thor_devkit/cry/blake2b.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/keccak.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/deprecation.py
  thor_devkit/exceptions.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Document TypedDict fields
  docs/source/others.rst
  tests/test_cry.py
  thor_devkit/abi.py
  thor_devkit/certificate.py
  thor_devkit/cry/keystore.py
  thor_devkit/transaction.py
Due: mypy, pytest

Better deprecation handling
  docs/source/ext/types_group.py
  thor_devkit/abi.py
  thor_devkit/certificate.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Fix TypedDict representation in docs
  docs/source/abi.rst
  docs/source/conf.py
  docs/source/ext/monkey_patch_sphinx.py
  thor_devkit/abi.py
  thor_devkit/cry/utils.py
Due: mypy, pytest

Fight bad ``black`` formatting decision
  docs/source/ext/monkey_patch_sphinx.py
Due: mypy, pytest

Enforce stricter validation with `voluptuous`
  docs/source/others.rst
  tests/test_certificate.py
  tests/test_transaction.py
  thor_devkit/abi.py
  thor_devkit/certificate.py
  thor_devkit/cry/address.py
  thor_devkit/cry/keystore.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
  thor_devkit/validation.py
Due: mypy, pytest

Restrict certificate purpose, better docs
  pyproject.toml
  thor_devkit/abi.py
  thor_devkit/certificate.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/exceptions.py
Due: mypy, pytest

Fix mistake in validation
  thor_devkit/validation.py
Due: mypy, pytest

Better docs.
  thor_devkit/abi.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/transaction.py
Due: mypy, pytest

Add convenience methods to Event and Function ABI, refactor
  pyproject.toml
  tests/test_abi_events.py
  tests/test_abi_functions.py
  tests/test_cry.py
  thor_devkit/abi.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/validation.py
Due: mypy, pytest

Fix documentation hell
  docs/source/abi.rst
  thor_devkit/abi.py
Due: mypy, pytest

Fix docstrings
  pyproject.toml
  thor_devkit/abi.py
  thor_devkit/rlp.py
Due: mypy, pytest

Fix members order
  thor_devkit/abi.py
  thor_devkit/certificate.py
  thor_devkit/cry/keystore.py
  thor_devkit/cry/mnemonic.py
  thor_devkit/cry/utils.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
Due: mypy, pytest

Improve coverage. Use better abstract layout for RLP
  docs/source/references.rst
  docs/source/rlp.rst
  pyproject.toml
  tests/test_abi_events.py
  tests/test_abi_functions.py
  tests/test_certificate.py
  tests/test_cry.py
  tests/test_rlp.py
  tests/test_transaction.py
  tests/test_validation.py
  thor_devkit/abi.py
  thor_devkit/bloom.py
  thor_devkit/certificate.py
  thor_devkit/cry/__init__.py
  thor_devkit/cry/address.py
  thor_devkit/cry/hdnode.py
  thor_devkit/cry/secp256k1.py
  thor_devkit/cry/utils.py
  thor_devkit/deprecation.py
  thor_devkit/rlp.py
  thor_devkit/transaction.py
  thor_devkit/validation.py
Due: mypy, pytest

Improve workflows
  .github/workflows/draft.yml
  .github/workflows/pr.yml
Due: none

Fix workflow
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  docs/source/_static/.gitkeep
  docs/source/_templates/.gitkeep
  docs/source/ext/monkey_patch_sphinx.py
  pyproject.toml
  setup.py
  thor_devkit/abi.py
  thor_devkit/cry/mnemonic.py
Due: mypy, pytest

Support tox
  pyproject.toml
Due: none

Remove 3.11 that does not work yet (headers missing)
  .github/workflows/pr.yml
Due: none

Minor cleanup
  thor_devkit/__init__.py
  thor_devkit/rlp.py
Due: mypy, pytest

Add solidity binding
  docs/source/abi.rst
  docs/source/conf.py
  pyproject.toml
  tests/test_abi_events.py
  thor_devkit/abi.py
Due: mypy, pytest

Add installation
  thor_devkit/abi.py
Due: mypy, pytest

Fix compatibility
  thor_devkit/abi.py
Due: mypy, pytest

Update README
  Makefile
  README.md
Due: none

Fix typo
  thor_devkit/abi.py
Due: mypy, pytest

Prepare to deploy to rtd
  .readthedocs.yaml
Due: none
